<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Open Bill</title>
    <meta name="description" content="spring-boot thymeleaf | home ">
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="tab-content">
    <div class="tab-pane active" id="addTaskTab">
        <div class="container">
            <div class="content-container clearfix">
                <div class="row">
                    <h1 class="content-title">Bills</h1>
                    <!--star operations messages-->
                    <div th:if="${msg eq 'success'}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        Task Saved <strong> Successfully</strong>
                    </div>
                    <div th:if="${msg eq 'fail'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        <strong>Unexpected error occurred !!! Please try later.</strong>
                    </div>
                    <div th:if="${msg eq 'active'}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        <strong><h6 th:text="${msgText}"/></strong>
                    </div>
                    <div th:if="${msg eq 'active_fail'}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                        <strong>Error !!!</strong> <h6 th:text="${msgText}"/>
                    </div>
                    <div th:if="${msg eq 'trash'}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert"
                                aria-hidden="true">&times;
                        </button>
                    </div>
                </div>
                <div>

                </div>
                <span class="help-block"></span>
                <div class="row">
                    <div class="panel panel-info">
                        <div></div>
                        <div class="panel-body">
                            <table class="table table-bordered  table-striped table-responsive">
                                <thead>
                                <tr class="btn-info">
                                    <th>ID Bill</th>
                                    <th>Date</th>
                                    <th>Username</th>
                                    <th>Bill Status</th>
                                    <th>Open Bill</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:if="${#lists.isEmpty(bills)}" class="btn-default">
                                    <td colspan="5" align="center">No Bills Found</td>
                                </tr>

                                    <tr th:each="bill : ${bills}">
                                        <form method="post" th:action="@{/bill/open_bill}">
                                        <td th:text="${bill.idBill}"></td>
                                        <td th:text="${bill.date}"></td>
                                        <td th:text="${bill.user.username}"></td>
                                        <td th:text="${bill.billStatus}"></td>
                                        <input type="hidden" name="idBill" id="idBill" th:value="${bill.idBill}">
                                        <td><button type="submit" class="btn btn-primary">Open Bill</button></td>
                                        </form>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
                <!--end Trash task tab-->
            </div>
        </div>
    </div>

    <!--<a>-->
    <!--<form th:action="@{/new_bill}">-->
    <!--<input class="btn" type="submit" value="New Bill"/>-->
    <!--</form>-->
    <!--</a>-->
    <!--&lt;!&ndash; trash tab &ndash;&gt;-->
    <!--th:class="${#request.getParameter('deletion')=='del'} ? ' tab-pane active' : 'tab-pane' "-->
</div>
<footer>
    <div class="separator" th:replace="fragments/footer :: footer">&copy; 2016 pironix</div>
</footer>

<script type="text/javascript">
    $(function () {
        $('#startDatePicker').datetimepicker({
            defaultDate: 'now',
            viewMode: 'days',
            format: 'DD/MM/YYYY'
        });
    });


</script>
<script>
    $('#modal-toTrash').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        $('#modal-toTrashHiddenId').val($(this).find('.btn-ok').attr('href'));
    });

    $('#modal-delete').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        $('#modal-deleteHiddenId').val($(this).find('.btn-ok').attr('href'));
    });

</script>
</body>
</html>
